:root{
    --dark-col: #212121;
    --light-col: #fafafa;
    --light-btn: #757575;
    --color-light: #f1f5f9;
    --color-blue: #1a73e8;
    --color-box:#e0e0e0;
    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.home-wrapper{
    height: 92vh;
    width: 100%;
    background-color: var(--color-light);
}
.home-wrapper .home-sub-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-wrapper .sub-inner-wrapper-1{
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 30px;
    text-align: left;
    padding-right: 15rem;
    
}
.home-wrapper .sub-inner-wrapper-1 p{
    letter-spacing: 1px;
}
.home-wrapper .inner-wrapper-1-para{
    margin-top: 20px;
}
.home-wrapper .sub-inner-wrapper-2{
    height: 92vh;
    width: 100%;

}
.home-wrapper .sub-inner-wrapper-button{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
}
.home-wrapper .sub-inner-wrapper-content{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.home-wrapper .sub-inner-wrapper-content .content-1{
    height: auto;
    width: auto;
    display: flex;
    margin-top: 20px;
}
.sub-inner-wrapper-content .content-11{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: left;
    background-color: var(--color-box);
    cursor: pointer;
    display: none;
}
.sub-inner-wrapper-content .content-12{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: left;
    background-color: var(--color-box);
    cursor: pointer;
    display: none;
}
.sub-inner-wrapper-content .content-2{
    height: 100%;
    width: 100%;
    background-color: var(--color-box);
}
.home-wrapper .service-wrapper{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin: 1rem 0;
    transition: 0.3s ease-in;
    padding: .8rem;
    background-color: #bdbdbd;
    box-shadow: var(--shadow-large);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.home-wrapper .service-wrapper:hover{
    transform:scale(1.1);
    color: var(--color-light);
}
.home-wrapper .service-wrapper h1{
    font-size: 2rem;
}
